
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }
  .h{
    background-color: #0779E4;
    margin-bottom: 20px;
  }
body{
    color: black;
    background-color:white;
    margin: 0px;
    height: 100vh; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.a-tag{
    padding-left:20px;
    padding-right:20px;
    padding-top: 16px;
    text-decoration: none;
    color: black;
    display: block;
 }

.a-tag:hover{
    padding-bottom: 10px;
    /* background-color:silver; */
    max-width: max-content;
    height: 50px;
    border-radius: 10px;
    padding-bottom: 20px;
}
hr{
    border-color:rgb(37, 26, 26);   
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    height:150px;
}
#for:hover{
  color: darkgray;
}
#for:active{
  color: red;
}
#for{
    color : black;
    padding-left : 10px;
    padding-right: 10px;
}
.ma{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    padding-top: 23px;
    z-index: -2;
    padding-bottom: 24px;  
}
.ma img{
    padding:20px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.ma div{
    border: 2px solid black;
    border-radius: 10px;
}

.ma div{
    max-width:316px;
}
.ma div p{
    line-height: 24px;
    word-break:break-all;
    padding-left: 10px;
    padding-right: 10px;
}
.carousel {
  width:99vw;
  height: 77vh;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 15px;
  margin-top: 25px;
  max-height: 400px;
  max-width:auto;
  object-fit: contain;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
  max-height: max-content;
}
.slide li{
  list-style-type: disc;
}
.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 30%;
  transform: translateY(-50%);
  color: rgb(107, 104, 104);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: black;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}
.nait{
  margin-left: 150px;
  margin-top: 25px;
  text-decoration:dashed;
  margin-right: 150px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-header{
    display:flex;
    flex-flow: row-reverse nowrap; 
}
.he{
  min-height: 90%;
  display: flex;
  flex-direction: column;
  /* margin-bottom:; */
}
p{
    color: rgb(26, 25, 25);
    font-size: large;
    position:static;
}

.dropdown-content{
  display:None;
  position:absolute;
  cursor: pointer; 
}
.dropdown:hover .dropdown-content{
    display: block;
    max-height:max-content ;
}
.footer{
  padding-top: 10px;  
}
.footer-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}
.footer-bottom{
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: large;
}
.card {
  width: 730px;
  height: 565px;
  background-color: white;
  border-radius: 35px;
  font-size:large;
  padding: 20px;
  box-shadow: rgba(155, 91, 238, 0.2) 0 15px 30px -5px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.card__content {
  width: 96%;
  height: 96%;
  background-color: rgb(255, 255, 255);
  border-radius: 35px;
  padding: 20px;
  margin:auto;
}
.bu{
  margin-left:38vw;
  background-color: #4caf50; 
  color: white; 
}

label{
  margin-top: 20px;
}

textarea{
  width: 500px;
  height: 150px;
  font-size: 20px;
}
fieldset{
  width: 730px;
  height: 600px;
  background-color: lightgray;
  border-radius: 35px;
  padding: 20px;
  margin-bottom: 0px;
  box-shadow: rgba(66, 65, 68, 0.2) 0 15px 30px -5px;
  margin: auto;
}

.dark-mode{
  background-color: black;
}

#for{
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.3s ease-in-out 0.1s;
}
#for:hover{
  transform: scale(1.1);
  color: red;
}
#link123{
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 71% 100%, 51% 100%, 16% 100%, 0 100%);
  background-color:#3E9FF9;
  height: 55px;
}
li{
  list-style-type: none;
}

.cont{
  float:right;
}
#h123{
  font-size: 250px;
  margin-left:30%;
}
.cont div input{
  margin-bottom: 10px;
  border-radius:10px;
  height: 40px;
  width: 300px;
  border-color: white;
}
.cont{
  margin-right: 450px;
}

.cont div button{
  height: 40px;
  width: 300px;
  margin-top: 10px;
  color: blueviolet;
  font-weight: 700;
}
#Message{
  height: 70px;
  padding-bottom: 30px;
  padding-left: 5px;
}
.photo12{
  background-image:url("photo 1.jpg");
}
.profile{
  margin-top: 20px;
  margin-right: 0%;  
}
.main-name{
  line-height: 40px;
  font-size: 34px;
  margin-bottom: 10px;
}
.hea{
  line-height: 40px;
  padding-left: 15%;
}
.headr{
  line-height: 40px;
  padding-left: 15%;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
html{
  height: 100%;
}
.content{ 
  float: left;
  width: 20%;
  padding: 8px;
  padding-left: 5%;
  margin-right: 1%;
  margin-top: 5%;
  padding-top: 2%;
}
.mainer{
  font-size: small;
  line-height: 0.2%;
}
.panel {
  display: none;
}

#myButton{
  margin-top:15%;
  width: 50%;
  height: 10%;
  border-radius: 5px;
  margin-left:15%;
}

.link-content.link-1.active {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 60%;
  float: right;
  /* margin-bottom: 100%; */
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 24%;
  right: 15%;  
}
.link-content.link-1.active #board{
  width: 400px;
  height: 400px;
  border: 2px solid purple;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.link-content.link-1.active #board img{
  width: 198px;
  height: 200px;
  border: 0.5px solid lightblue;
}
.link-content.link-1.active #pieces{
  width: 200px;
  height: 200px;
  border: 2px solid purple;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.link-content.link-1.active #pieces img{
  width: 98px;
  height: 100px;
  border: 0.5px solid lightblue;
}
.link-content.link-2.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
.link-content.link-2.active #find-me{
  width:10%;
  height: 5%;
}
.link-content.link-2.active #status{
  height: 2%;
  font-size: 1%;
}

.link-content {
  display: none;
}

.link-content.active {
  display: block;
}
.link-content {
display: none;
}
.link-1,.link-2,.link-3{
  text-decoration: none;
  color:black;
}
.project45{
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 2%;
  width:20%;
}
.project45 li a{
  margin-left: 20%;
  /* margin-top: 20%; */
}
.project45 li{
  margin-top: 1%;
  /* margin-bottom: 2%; */
  margin-left: 30%;
  padding-top: 0.5%;
  height: 5vh;
  width: 38%;
  padding-left: 0.5%;
  background-color: #3E9FF9;
}
.panel1{
  margin: 0px  ;
}
.project_main{
  height:100%;
}
.dark-mode .header h1{
  color: white;
}
.dark-mode .a-tag{
  color:white;
}
.dark-mode .a-tag:hover{
  background-color:gold;
}
.dark-mode #link123{
  background-color: gold;
}
.dark-mode .footer{
  background-color: black;
}
.dark-mode #for{
  color:gold;
}
.dark-mode .footer-bottom p{
  color: white;
}
.dark-mode fieldset{
  background-color:black ;
  border-color: black;
}
.dark-mode .card{
  color: white;
 background-color: black; 
}
.dark-mode .bu{
  background-color:white;
  color:black;
}
.dark-mode p{
  color:white;
}
.dark-mode .header{
  color: white;
}
.dark-mode .ma div{
  border-color: lavender;
}
.dark-mode .slide li{
  color: white;
  list-style-type:disc;
}
.dark-mode .h{
  background-color: black;
}
.dark-mode #h123{
  color: blueviolet;
}
.dark-mode .carousel-button:hover,
.carousel-button:focus {
  color: black;
  background-color: lavender;
}
